@keyframes GitHub {
  from {color: #0f0;}
  to {color: #000;}
}
* {
  margin: 0px;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: #000;
  overflow-y: hidden;
}
span {
  font-weight: bold;
  width: 99%;
  display: block;
  margin: 5px;
  border-bottom: 1px solid #ccc;
  color: #0f0;
}
#editor {
  width: 100%;
  height: 90%;
  margin: 0px;
  padding: 0px;
}
.result {
  width: 50% !important;
  float: right;
  height: 89%;
  background-color: #000;
  color: #0f0;
  margin: 0px;
  border-left: 1px solid #ccc !important;
}
#editor textarea {
  height: 89%;
  width: 49.85% !important;
  background-color: #000;
  float: left;
  color: #0f0;
  border: 0px;
  padding: 0px;
  border-bottom: 1px solid #ccc;
  resize: none;
}
#editor textarea::placeholder {
  color: #0f0;
}
#editor textarea:focus {
  outline: none;
}
a {
  text-decoration: none;
  color: #0f0;
  width: 100%;
  float: right;
  margin: 0px auto;
  text-align: center;
  font-weight: bold;
  animation-name: GitHub;
  animation-duration: 0.1s;
  animation-iteration-count: infinite;
}
